<header>
    <nav>
        <div class="tracker"></div>
        <menu>
            <li><a href="#summary">SUM<span>mary</span></a></li>
            <li><a href="#experience">EXP<span>erience and History</span></a></li>
            <li><a href="#training">EDU<span>cation</span></a></li>
            <li><a href="#knowledge">KNO<span>wledge and Skills</span></a></li>
            <li><a href="#profiles">EXT<span>ernal Profiles</span></a></li>
        </menu>
    </nav>
    {% if site.author-image %}<img src="/assets/images/{{ site.author-image }}" alt="{{ site.author }}"> {% endif %}
    {% if site.author %}<h1 id="header-container">{{ site.author }}</h1>{% endif %}

    <h2>
        <a href="http://asifraza.me">asifraza.me</a> &mdash;
        {% if site.email %}<a href="mailto:raoasifraza1@hotmail.com">{{ site.email }}</a> &mdash;{% endif %}
        <a href="tel:00923002528517">+92 300-252-8517</a>
    </h2>
</header>