<header>
    <nav>
        <div class="tracker"></div>
        <menu>
            {% for item in site.menu %}
            <li><a href="{{ item.url  }}">{{ item.title | slice: 0, 3  | upcase }}<span>{{ item.title | slice: 3, item.title.size | downcase }}</span></a></li>
            {% endfor %}
        </menu>
    </nav>
    {% if site.author-image %}<img src="/assets/images/{{ site.author-image }}" alt="{{ site.author }}"> {% endif %}
    {% if site.author %}<h1 id="header-container">{{ site.author }}</h1>{% endif %}

    <h2>
        {% if site.url %}<a href="{{ site.url }}">{{ site.url }}</a> {% endif %}
        {% if site.email %}&mdash; <a href="mailto:raoasifraza1@hotmail.com">{{ site.email }}</a> {% endif %}
        {% if site.phone %}&mdash; <a href="tel:{{ site.phone }}">{{ site.phone }}</a> {% endif %}
    </h2>
</header>