<head>
    <meta charset="utf-8">
    <meta name="description" content="{{ site.description | default: site.github.project_tagline}}">
    <meta name="keyword" content="{{ site.keywords }}">
    <meta name="robots" content="noindex,nofollow">
    <title>{{ page.title | default: site.github.repository_name }} - {{ site.author }}</title>

    <!-- Favicon -->
    {% if site.favicon %}<link rel="icon" type="image/png" href="/assets/images/{{ site.favicon }}">{% endif %}

    <!-- Author -->
    <link type="text/plain" rel="author" href="http://asifraza.me/humans.txt" />

    <!-- theme -->
    <link rel="stylesheet" href="{{ "/assets/css/main.min.css" | relative_url }}" />
    <link rel="stylesheet" href="{{ "/assets/css/responsive.min.css" | relative_url }}">
</head>