<header>
    <nav>
        <div class="tracker"></div>
        <menu>
            {% assign pages = site.pages | sort: 'order' %}{% if pages.size > 0%}{% for item in pages %}
            <li><a href="#{{ item.title  }}">{{ item.title | slice: 0, 4  | upcase }}<span>{{ item.title | slice: 4, item.title.size | downcase }}</span></a></li>
            {% endfor %}{% endif %}
        </menu>
    </nav>
    {% if site.author-image %}<img src="/assets/images/{{ site.author-image }}" alt="{{ site.author }}"> {% endif %}
    {% if site.author %}<h1 id="header-container">{{ site.author }}</h1>{% endif %}

    <h2>
        {% if site.url %}<a href="{{ site.url }}">{{ site.url }}</a> {% endif %}
        {% if site.email %}&mdash; <a href="mailto:raoasifraza1@hotmail.com">{{ site.email }}</a> {% endif %}
        {% if site.phone %}&mdash; <a href="tel:{{ site.phone }}">{{ site.phone }}</a> {% endif %}
    </h2>
</header>