<head>
    <meta charset="utf-8">
    <meta name="description" content="A resume of Asif Raza web developer and mobile application developer.">
    <meta name="keyword" content="asifraza, raoasifraza, muhammad asif raza, asif, raoasifraza11, raoasifraza1">
    <meta name="robots" content="noindex,nofollow">
    <title>{{ page.title }}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ "/assets/images/favicon.png" | relative_url }}">

    <!-- Author -->
    <link type="text/plain" rel="author" href="http://asifraza.me/humans.txt" />

    <!-- theme -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
    <link rel="stylesheet" href="{{ "/assets/css/responsive.css" | relative_url }}">
</head>