/*
 * Responsive style sheet
 * @author: Asif Raza
 * @Date: 22 Jan 2016, 11:52:AM
 */
/* ----------- iPhone 5 and 5S ----------- */

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

    header {
        height:         320px;
    }

    header span {
        display: none;
    }

    header h1, header h2 {
        margin:         0;
        padding:        0;
        border-bottom:  none;
        font-size:      700%;
    }

    header h2 {
        font-size:      170%;
    }

    header img {
        width:          6em;
        height:         6em;
        margin-left:    -22em;
    }

    menu li {
        padding:        0.1em 0;
        margin:         0 3em 0 0;
        font-size: 200%;
    }
    section {
        width:          90%;
        margin:         0 5% 0;
    }

    section.active, #summary.active {
        padding-top:    200px;
    }

    h1 {
        font-size:      420%;
    }

    h2 {
        font-weight:    300;
        font-size:      200%;
    }

    p {
        margin:         1em 3em;
        font-size: 180%;
    }

    dl {
        margin-left: 20px;
        font-size: 190%;
        line-height: 150%;

    }

}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    header span {
        display: inline-block;
    }

    header {
        height:         300px;
        position: absolute;
    }

    header h1, header h2 {
        margin:         0;
        padding:        0;
        border-bottom:  none;
        font-size:      700%;
    }

    header h2 {
        font-size:      170%;
    }

    header img {
        width:          6em;
        height:         6em;
        margin-left:    -22em;
    }

    nav {
        background:     white;
        width: 100%;
        position: fixed;
    }

    /* fix h1 style in landscape mode */
    #header-container {
        position: relative;
        margin-top: 6%;
        z-index: -1;
    }

    section {
        width:          90%;
        margin:         0 5% 0;
    }

    section.active, #summary.active {
        padding-top:    200px;
    }

    h1 {
        font-size:      320%;
    }
    h2{
        font-weight:    300;
        font-size:      180%;
    }

    p {
        margin:         1em 3em;
        font-size: 120%;
    }
    dl {
        margin-left: 20px;
        font-size: 150%;
        line-height: 130%;
    }

}

/* ----------- iPhone 6 and 6+ ----------- */

/* Landscape 6 */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

    header {
        height:         300px;
        position: absolute;
    }

    header span {
        display: inline-block;
    }

    header h1, header h2 {
        margin:         0;
        padding:        0;
        border-bottom:  none;
    }
    header h1 {
        font-size:      700%;
    }

    header h2 {
        font-size:      170%;
    }

    header img {
        width:          6em;
        height:         6em;
        margin-left:    -22em;
    }

    nav {
        background:     white;
        width: 100%;
        position: fixed;
    }

    /* fix h1 style in landscape mode */
    #header-container {
        position: relative;
        margin-top: 6%;
        z-index: -1;
    }

    section {
        width:          90%;
        margin:         0 5% 0;
    }

    section.active {
        padding-top:    200px;
    }

    #summary.active {
        padding-top:    200px;
    }

    h1 {
        font-size:      320%;
    }
    h2{
        font-weight:    300;
        font-size:      180%;
    }
    p {
        margin:         1em 3em;
        font-size: 120%;
    }
    dl {
        margin-left: 20px;
        font-size: 150%;
        line-height: 130%;
    }
}

/* Portrait iPad  */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1042px)
and (orientation: portrait) {
    header {
        height:         320px;
    }

    header span {
        display: none;
    }

    header h1, header h2 {
        margin:         0;
        padding:        0;
        border-bottom:  none;
    }
    header h1 {
        font-size:      700%;
    }

    header h2 {
        font-size:      170%;
    }

    header img {
        width:          6em;
        height:         6em;
        margin-left:    -22em;
    }

    menu li {
        padding:        0.1em 0;
        margin:         0 3em 0 0;
        font-size: 200%;
    }
    section {
        width:          90%;
        margin:         0 5% 0;
    }

    section.active, #summary.active {
        padding-top:    200px;
    }

    h1 {
        font-size:      420%;
    }
    h2{
        font-weight:    300;
        font-size:      200%;
    }
    p {
        margin:         1em 3em;
        font-size: 180%;
    }

    dl {
        margin-left: 20px;
        font-size: 190%;
        line-height: 150%;

    }
}
/* Landscape 6+ */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

    header {
        height:         300px;
        position: absolute;
    }

    header span {
        display: inline-block;
    }

    header h1, header h2 {
        margin:         0;
        padding:        0;
        border-bottom:  none;
    }
    header h1 {
        font-size:      700%;
    }

    header h2 {
        font-size:      170%;
    }

    header img {
        width:          6em;
        height:         6em;
        margin-left:    -22em;
    }

    section {
        width:          90%;
        margin:         0 5% 0;
    }

    section.active, #summary.active {
        padding-top:    200px;
    }

    h1 {
        font-size:      320%;
    }
    h2 {
        font-weight:    300;
        font-size:      180%;
    }
    p {
        margin:         1em 3em;
        font-size: 120%;
    }
    dl {
        margin-left: 20px;
        font-size: 150%;
        line-height: 130%;
    }
}